<html>
<head>
    <meta charset="UTF-8">
    <title>ほめ日記</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
    <header class="bg-primary p-4">
        <h1 class="text-white display-4">ほめ日記</h1>
        <p class="m-0 text-white">しゃべってほめてくれる日記帳</p>
    </header>
{% block main %}
{% endblock %}
    <footer class="bg-primary p-2">
        <h1 class="text-white h4">ほめ日記</h1>
    </footer>
</body>
</html>