{% extends 'base.html' %}
{% block main %}
    <div class="bg-info rounded text-white center-block m-4 form-group px-5 py-3">
        <form action="/diary" method="POST" class="">
            <label class="form-label">メールアドレス</label>
            <input class="form-control mb-3" type="email" name="email" required="required">
            <label class="form-label">パスワード</label>
            <input class="form-control mb-3" type="password" name="password" required="required">
            <input class="text-light bg-secondary form-control border-0" type="submit" value="サインイン">
        </form>
    </div>
{% endblock %}